body{
  box-sizing: border-box;
  overflow-x: hidden;
}
.main{
  width: 100%;
  height: 100vh;
  z-index: -999;
}
#game-board {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: #b89573;
    border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
.bar{
  height: 1px;
}
.right,.left{
  background-color: #070a28;
}
.center{
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
}
  
  .cell {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background-color: #cdc1b4;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
 
/* colored cells */

.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16{
  background-color: #f59575;
  color: white;
}

.x32{
  background-color: #f57c5f;
  color: white;
}

.x64{
  background-color: #f65d3b;
  color: white;
}

.x128{
  background-color: #edce71;
  color: white;
}

.x256{
  background-color: #edcc63;
  color: white;
}

.x512{
  background-color: #edc651;
  color: white;
}

.x1024{
  background-color: #eec744;
  color: white;
}

.x2048{
  background-color: #ecc230;
  color: white;
}

.x4096 {
  background-color: #fe3d3d;
  color: white;
}

.x8192 {
  background-color: #ff2020;
  color: white;
}